#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
    opacity: 0;
    pointer-events: none;
}

#tabbrowser-tabs {
    visibility: collapse;
}
#titlebar {
    max-height: 0px;
}

#sidebar-header {
    display: none;
}

:root {
	/* Number of pixels of enlargement when URL bar is focused */
	--mbarstyler-popout-pixels: 0px; /* [0px - 7px] */
}
